@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);

    --size:16px;

    --weight1:600;
    --weight2:800;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    /* font-size: var(--size); */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--Yellow);
}

.card{
    width:325px;
    font-size: var(--size);
    background: var(--White);
    font-family: var(--weight1);
    padding:20px;
    box-shadow: 10px 10px 0 var(--Black);
    border-radius: 1rem;
    border:1px solid var(--Black);
    cursor: pointer;
}

#article{
    width:100%;
    border-radius: 1rem;
}

#highlight{
    display: inline-block;
    background: var(--Yellow);
    padding:10px;
    margin:10px auto;
    font-weight: var(--weight2);
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 1rem;
}

#time{
    margin:10px auto;
    font-size: 0.85rem;
}

h1{
    margin: 10px auto;
    font-size: 1.5rem;
}

.card:hover h1{
    color: var(--Yellow);
}

#description{
    margin: 10px auto;
    color:var(--Grey);
}

.profile{
    margin:20px auto;
    /* display: flex; */
}

#pic{
    width:40px;
    position: relative;
    top:10px;
}

#name{
    font-size: 1rem;
    margin:0 10px;
    font-weight: var(--weight2);
}

